html {
    height: 100%;
    width: 100%;
}
body {
    background: url('../images/background.jpg') no-repeat fixed center center;
    background-size: cover;
    margin: 0 !important;
    background-size: 100%;
    overflow:hidden;
    display: block;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
/* Modal Content for Create Post*/
.modal-content-CP {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 70%;
  }
  #txtCP {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: left;
    padding-left: 55px;
  }
  #postContent {
      height: 300px;
  }
  #btnCP {
    background-color: #0ec038;
    color: white;
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 10%;
    padding: 12px;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    border-color: unset;
  }
  input[type=textarea] {
   width: 100%;
   padding: 15px;
   border: none;
   background-color: #f1f1f1;
   font-size: 15px;
   vertical-align: top;
   text-align: left;
 }

 /* Index Body Buttons */
 .body-buttons {
  left: 45%;
  top: 45%;
  position: fixed;
}
 #bodyBtn1 {
  background-color: #cfb53b;
  color: black;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
  padding-right: 22px;
  cursor: pointer;
  border-color:yellow;
  margin-right: 10px;
}
#bodyBtn2 {
background-color: #cfb53b;
color: black;
text-align: center;
font-size: 15px;
font-weight: bold;
padding: 15px;
cursor: pointer;
border-color: yellow;
scroll-margin-left: 10px;
}